
/**/
/*#main-wrapper{
	max-width: 100%;
}*/

/*Porstor izmedju header-a i kolona*/
/*#sidebar-left,
#main-content{
	margin: 15px 0;
}*/

/*Sirina main-contenta - desna kolona*/
/*#main-content{
    max-width: 70%;
    margin: 15px auto 0;
    float: none;
}*/

/*Visina slajdera*/
/*#main-slider{
	max-height: 430px;
}*/

/*Sirina banera */
/*.banners{
	width: 70%;
	margin: 0 auto;
}

footer .container{
	width: 70%;
	margin: 0 auto;
}*/